---
import Layout from "@layouts/Layout.astro";
import Linkedin from "@icons/Linkedin.astro";
import Github from "@icons/Github.astro";
import Light from "@components/Light.astro";
import LightBottom from "@components/LightBottom.astro";
import StarsBackground from "@components/StarsBackground.astro";
---

<Layout title="Portfolio personal | Keyner de Ávila">
	<main class="text-[#EDF1F8] relative min-h-dvh flex flex-col justify-center items-center overflow-hidden">
		<section class="w-full flex items-center z-0">
			<div
				class="relative w-full max-w-7xl mx-auto flex flex-col items-center text-center py-32 px-8 z-20"
			>
				<div
					id="reactImage"
					class="size-36 border border-[#4A76B9] aspect-square rounded-md overflow-hidden mb-6 xs:size-44"
				>
					<img
						class="block w-full h-full pointer-events-none"
						src="/react.webp"
						alt="react logo"
					/>
				</div>

				<div id="texts" class="flex flex-col sm:items-center">
					<h1
						class="text-4xl font-bold mb-1 xs:text-5xl md:text-6xl md:mb-2"
					>
						Keyner de Ávila
					</h1>
					<p class="text-xl text-[#9DE9FF] xs:text-2xl">
						Desarrollador Frontend Jr
					</p>

					<ul
						class="flex justify-center list-none gap-4 mt-4 sm:mt-8"
					>
						<a
							href="https://co.linkedin.com/in/kdeavila9"
							target="_blank"
							class="bg-[#1877F2] rounded-lg hover:bg-[#1877F2]/80 hover:scale-110 hover:-rotate-3 duration-300 transition border border-transparent px-8 py-2.5"
						>
							<Linkedin />
						</a>

						<a
							href="https://www.github.com/kdeavila"
							target="_blank"
							class="bg-black rounded-lg hover:bg-black/80 hover:scale-110 hover:-rotate-3 duration-300 transition border border-transparent px-8 py-2.5"
						>
							<Github />
						</a>
					</ul>
				</div>
			</div>

			<div class="absolute top-0 right-0 pointer-events-none z-10">
				<Light />
			</div>

			<div
				class="hidden sm:inline-block absolute bottom-0 left-0 pointer-events-none z-10"
			>
				<LightBottom />
			</div>
		</section>
		<StarsBackground />
	</main>

	<script>
		import { gsap } from "gsap";

		gsap.from("#reactImage", {
			y: 100,
			rotation: 270,
			scale: 1.4,
			ease: "back.inOut",
			duration: 3,
		});

		gsap.from("#texts", {
			delay: 2.2,
			duration: 1,
			y: 100,
			opacity: 0,
			ease: "power3.out",
		});
	</script>
</Layout>
