---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro";
import Linkedin from "@icons/Linkedin.astro";
import Github from "@icons/Github.astro";
---

<Layout title="Portfolio personal | Keyner de Ávila">
	<main class="flex items-center p-4 py-20 sm:pb-4">
		<section
			class="flex flex-col text-left mx-auto sm:text-center sm:items-center"
		>
			<div
				class="size-32 border border-[#4A76B9] aspect-square overflow-hidden mb-6 sm:size-44"
			>
				<img
					class="block w-full h-full pointer-events-none"
					src="/react.webp"
					alt="react logo"
				/>
			</div>

			<div class="mb-40">
				<h1 class="text-4xl font-bold mb-2 sm:text-7xl">
					Keyner de Ávila
				</h1>
				<p class="text-xl text-[#fff5a8] sm:text-2xl">
					Desarrollador Frontend Jr
				</p>
			</div>

			<div class="flex flex-col">
				<p class="text-xl text-[#ffd6d6] mb-2">Puedes ver más aquí:</p>

				<div class="flex gap-4">
					<Button
						href="https://co.linkedin.com/in/kdeavila9"
						title="LinkedIn"
					>
						<Linkedin />
					</Button>

					<Button href="https://github.com/kdeavila" title="Github">
						<Github />
					</Button>
				</div>
			</div>
		</section>
	</main>
</Layout>
