---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Light from "@components/Light.astro";
import LightBottom from "@components/LightBottom.astro";
import "@fontsource/onest/400.css";
import "@fontsource/onest/700.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Página web personal de Keyner de Ávila, desarrollador Frontend developer Jr"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/react.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-[#EDF1F8]">
		<slot />

		<div class="fixed top-0 right-0 pointer-events-none -z-[5]">
			<Light />
		</div>

		<div
			class="hidden lg:inline-block fixed bottom-0 left-0 pointer-events-none -z-[5]"
		>
			<LightBottom />
		</div>

		<div
			class="fixed inset-0 -z-10 pointer-events-none w-full min-h-dvh bg-[url(/stars-background.webp)] bg-center bg-cover bg-no-repeat"
		>
		</div>
	</body>
</html>

<style is:global>
	body {
		font-family: "Onest", sans-serif;
	}
</style>
